{% include 'head.html' %}
	<body>
		<div class="container">
			<div class="row mt-5">
				<div class="col-sm">
				</div>
				<div class="col-sm">
					<form action="/" method="post">
						<div class="form-group">
							<p class="text-center indextitle">Enter GitHub username</p>
							<input type="text" class="form-control mt-2 shadow" name="usrname" placeholder="ex. 'zJairO'">
						</div>
					</form>
					{% if error %}
					<div class="alert alert-danger" role="alert">
  					{{ error }}
					</div>
					{% endif %}
				</div>
				<div class="col-sm">
				</div>
			</div>
		</div>
	</body>
	<script>
	feather.replace()
	</script>
{% include 'footer.html' %}
</html>